body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


header{
    /*background: #292C35;*/
    background: #17181D;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.logo-title{
    display:inline-block;
    vertical-align: middle;
}

#logo{
    height: 50px;
}

main{
    /*background: #17181D;*/
    background: black;
    color: white;
}

.container{
    display: flex;
    height: 827px; /*Revisar luego para el responsive*/
}

.encrypt_section{
    border-radius: 30px;
    padding: 20px;
    background: #17181D;
    width: 75%;
    margin: 20px;
    margin-right: 10px;
    /*height: 400px;*/
    /*margin: 20px*/
}


.lowercase:before{
    content:"⚠ " 
}

.lowercase{
    margin: 10px;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.results_section{
    padding: 20px;
    background: #3eb1c5;
    /*background: #17181D*/
    border-radius: 30px;
    width:20%;
    margin: 20px;
    margin-left: 10px;
    /*margin: 20px;*/
    box-shadow: 0px 2px 18px 0px #3eb1c5;

}

.text-to-encrypt{
    padding: 20px;
 /* Ancho del textarea */
    height: 82%; /* Alto del textarea */
    width: 96.5%;
    font-size: 2em;
    background: none;
    color: #3eb1c5;
}
.text-to-encrypt::placeholder{
    color: white;
}


textarea{
    resize: none;
    /*display: block;*/
    border-radius: 30px;
    /*margin: 10px;*/
    border: none;
    outline: none;
}

.encrypted-text{
    height: 86%;
    width: 89%;
    padding: 20px;
    font-size: 1.5em;
    background: none;
    color: white;
}

.btn{
    display: inline-block;
    font-size: 15px;
    height: 50px;
    width: 250px;
    padding: 5px;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    border-radius: 30px;
    border: none;
    margin: 5px;
}

#Btn_encrypt{
    background: #3eb1c5;
    color: white;
    box-shadow: 0px 2px 18px 0px #3eb1c5;
}

#Btn_encrypt:hover{
    background-color: #14dcffc7;
    cursor: pointer;
}

#Btn_decrypt{
    background: black;
    color: white;
    box-shadow: 0px 2px 18px 0px #3eb1c5;
}

#Btn_decrypt:hover{
    background-color: #17181D;
    /*background-color: #3eb1c5;*/
    cursor: pointer;
}

#Btn_copy{
    background: white;
    color: black;
    /*box-shadow: 0px 2px 18px 0px #17181D;*/
    box-shadow: 0px 2px 18px 0px white;
}

#Btn_copy:hover{
    color: white;
    background: #17181D;
    /*background-color: #3eb1c5;*/
    cursor: pointer;
}

footer{
    background: #17181D;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

a {
    color: white;
}

a:visited{
    color: white;
}

.center-button{
    display: flex;
    justify-content: center;
}


